<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Search</h1>
        <p>Enter the name of the hotel that you want to generate report for</p>

        <hr>

        <form action="/search" method="POST">

          <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Enter a Hotel name">
          </div>

          <button type="submit" class="btn btn-primary">Search</button>

        </form>
      </div>
    </div>
  </div>

</body>

</html>